// Colors
$primary: #435d7d;
$secondary: #3392ff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$lightGray: rgb(163 163 163 / 30.8%);
$white: #fff;
$black: #000;
$text-color: #2b2b2c;
$bg-color: $white;
